.completed {
  text-decoration: line-through;
}
.todos {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.todos li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: 0.5em;
  height: 1.6em;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.todos li:hover {
  color: #607d8b;
  background-color: #ddd;
  left: 0.1em;
}
.todos .text {
  position: relative;
  top: -3px;
}
.todos .badge {
  display: inline-block;
  font-size: large;
  color: white;
  padding: 1em 1em 0 1em;
  background-color: #607d8b;
  line-height: 1em;
  height: 1.8em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}
